---
language: python

python:
  - "3.7"

services:
  - docker

env:
  global:
    namespace="robertdebock"
  matrix:
    - image="debian" tag="stable"
    - image="debian" tag="unstable"
    - image="debian"
    - image="centos" tag="7"
    - image="centos"
    - image="ubuntu" tag="rolling"
    - image="ubuntu" tag="devel"
    - image="ubuntu"

matrix:
  allow_failures:
    - env: image="debian" tag="unstable"
    - env: image="ubuntu" tag="rolling"
    - env: image="ubuntu" tag="devel"

cache:
  - pip

install:
  - pip install --upgrade pip
  - pip install tox

script:
  - tox --parallel all

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
  slack:
    secure: "Xv3JL3RaPsfp5TUusfgj3gmVb6bA+rGQH/PSQbgHrw4MJvVwEI6hEYTQ7URs2YXsuF9naNHaWyVsbZZygXYhN0Cokairny9jScGqUFajO5rP6iQuWG0+ob4LyUVTMAwuMsUE5OVcL4qSfYXkJWetTufkEvkM6sJCQ4MwAjIYGXMzT7CjjGXP5CqJWsg66JtnKGT1BegiW8hwjCXBEAgHC3+YamfyKLpYIL082Ju7DiBZqAJc9iXITFC6jIct+XAXPw2mvHKY9MgzdIffQvmLUap4BngIYWQAHxefxS2b9dQ8W9f0j8Nbph9Q0ejfiwGAKxg2fsI0fvaq6Dp5N4NTxz2bA/cwsfWew3ijshLia2jdmDWGHnnL5CB5xHyKTBPjCD5ZKFnNwE64HrOVtlHIDauJbLuxDWKLw/s0eIvxgL+3+aGXaIbBsw32bXUA2P8S7aLxBsuozP61WJUEsyedMfhvfbGTGrvEbrhQ2Rwaq6by/nN8T0L2UUBs8rstXHibo1FGYOQ8sAvL7eKJck2NICZCX2je2RhPa0trERFJRE9L6Ys1uIJ4emGoNrcabUH6M9BHuG/geXfLGpsaEYcfgGxoNw21bdS/d63+vvUOyBdAwlMx5OixsTHPqHrj1tr5ECklZn1FoMDe7Juk1FwjJoEC9kycGJNroxcf7iTEaFs="
  email: false
